/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.searchbox {width: 350px; height: 50px; font-size: 28px; padding: 10px;}
.noteData {padding-left: 5px;}
.noteItem {border-bottom: 1px solid #cccccc; margin: 5px; padding: 5px;}
.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 350px; height: 50px; font-size: 28px; padding: 10px;}
td.fuel-savings-label { width: 175px; }
